{% extends "layout.html" %}

{% block song %}
    <h2>Intro</h2>

    <h2>A</h2>
    <div>
        <img class="sheetmusic" src="./A.png" alt="Leadsheet">
    </div>

    <!-- Go ahead, add some lyrics -->
    <div class="lyrics">{{verse_1}}</div>
{% endblock %}